certifi==0.0.8
chardet==1.0.1
Flask==2.0.3
gunicorn==0.17.0
hyperlink==21.0.0
idna==2.10
incremental==21.3.0
itsdangerous==2.1.0
Jinja2==3.0.3
MarkupSafe==2.1.0
mpmath==1.2.1
numpy==1.21.2
requests==2.25.1
scipy==1.7.3
service-identity==21.1.0
six==1.16.0
sympy==1.9
Werkzeug==0.8.3
